*{
  font-family: "roboto",sans-serif;
}

.promote-section{
  margin-top: 40px;
}

.promote-text{
  padding-top: 250px;
}

.promote-inner-text{
  font-weight: 500;
}

.brand-section{
  margin-top: 40px;
}

.feature-title{
  font-weight: 700;
}

.feature-subtitle{
  
  font-size: 18px;
  color: #999;
  padding-bottom: 60px;
  margin: 0;
}

.feature-heading-text{
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: -1px;
}

.feature-subtext{
  color: #666;
}

.feature-text-box{
  margin-bottom: 25px;
}

.feature-image{
  max-width: 100%;
}

.feature-image-box{
  align-self: center;
}

.how-section-title{
  font-weight: 700;
}

.how-card{
  padding: 50px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
}

.how-card-title{
  margin: 25px 0px 15px 0px;
}

.how-card-subtitle{
  font-size: 16px;
  margin: 0;
  color: #666666;
}

.custom-container{
  padding: 40px 15px;
}

.custom-heading{
  font-weight: 700;
  font-size: 36px;
}

.custom-subheading{
  font-size: 18px;
  color: #999999;
}

.header-container{
  padding-bottom: 40px;
}

.icon-div{
  background-color: #24B59D;
  width: 65px;
  height: 65px;
  border-radius: 100%;
}

.custom-box{
  padding: 20px 20px;
  margin-bottom: 20px;
  display: flex;
  border-radius: 6px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
}

.custom-box-textbox{
  padding-left: 20px;
}

.custom-image-box{
  align-self: center;
}

.custom-image{
  vertical-align: middle;
}

.list-container ul{
  padding: 0;
}

.list-container ul li p{
  font-size: 15px;
}

.list-space{
  margin-bottom: 24px;
}

.learn-button{
  background-color: #24B59D;
  color: white;
  padding: 14px 30px;
  font-size: 16px;
}

.learn-button-container{
  margin-bottom: 24px;
}

.viewer-container{
  padding: 50px 15px;
}

.viewer-icon{
  margin: 10px 0px 20px;
  text-align: center;
}

.viewer-header{
  font-size: 45px;
  font-weight: 600;
}

.viewer-subheader{
  font-weight: 600;
  margin-bottom: 30px;
}

.screenshots-width{
  width:50%;
}

.screenshot-heading{
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 5px;
}

.screenshot-subheading{
  font-size: 18px;
  padding-bottom: 50px;
  margin-bottom: 0px;
  color: #999999;
}

.pricing-container{
  padding-top: 100px;
  padding-bottom: 100px;
}

.pricing-heading{
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 5px;
}

.pricing-subheading{
  font-size: 18px;
  padding-bottom: 50px;
  margin-bottom: 0px;
  color: #999999;
}

.pricing-box{
  padding: 45px 0px;
  border-radius: 6px;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, .15);
  margin: 0px -30px;
  padding: 45px 0px;
  transform: translateY(0);
  transition: all 0.3s;
}

.pricing-box-align{
  align-items: center;
  justify-content: center;
}

.pricing-box:hover{
  scale: 1.1;
}

.pricing-icon{
  margin-bottom: 28px;
  color: #24B59D;
}

.pricing-box-heading{
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}

.pricing-box-subheading{
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 300;
}

.pricing-box-list{
  margin-bottom: 25px;
  color: #555555;
}

.pricing-box-list li{
  padding: 5px;
}

.Pricing-button{
  color: #ffffff;
  background-color: #24B59D;
  padding: 14px 30px;
  border-radius: 6px;
}

.footer-header{
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.footer-list{
  text-align: center;
}

.footer-list li{
  padding-bottom: 8px;
}

.footer-text{
  text-align: center;
}

.footer-list li a{
  text-decoration: none;
  color: black;
}

.footer-text a{
  text-decoration: none;
  color: black;
}

.footer-last-section{
  border-top: 1px dotted black;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 2s fadeInUp;
  animation-delay: 1.5s;
}

@media screen and (max-width: 992px){
  .promote-text{
    padding-top: 50px;
    text-align: center;
  }
  .promote-image{
    margin-bottom: 20px;
  }
  .feature-title{
    font-size: 24px;
  }
  .how-section-title{
    font-size: 24px;
  }
  .feature-image-box{
    display: none;
  }
  .how-card{
    margin-bottom: 30px;
  }
  .header-container{
    text-align: center;
  }
  .custom-heading{
    font-size: 24px;
  }
  .screenshot-heading{
    font-size: 24px;
  }
  .pricing-heading{
    font-size: 24px;
  }
  .pricing-box{
    margin: 0px;
  }
  .footer-logo{
    margin-bottom: 20px;
  }
}



@media screen and (max-width: 768px) {
  .prj{
    margin-left: 0px;
    margin-top: 10px;
  }
  .burger{
    text-align: center;
  }
  .nav-link{
    margin-top: 20px;
    background-color: lightgrey; 	
  }
  .promote-text{
    margin-top: 0px;
  }
  .promote-section{
    margin-top: 40px;
    text-align: center;
  }
  .brand-image-margin{
    margin-top: 50px;
  }
  .header-container{
    text-align: center;
  }
  .screenshot-width{
    width:100%;
  }
  .pricing-container{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 576px){
  .pricing-box{
    margin-bottom: 20px;
  }
}